ADC_RW/node-red-api.json
[
    {
        "id": "d0107210.abc3f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5b920070.bf28f",
        "type": "mqtt in",
        "z": "d0107210.abc3f",
        "name": "",
        "topic": "Asset/Chapter4/Vibration",
        "qos": "0",
        "datatype": "auto",
        "broker": "9d1fb0c.003a1d",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "85685065.f90e6"
            ]
        ]
    },
    {
        "id": "85685065.f90e6",
        "type": "json",
        "z": "d0107210.abc3f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "14a16fc2.d8dd8"
            ]
        ]
    },
    {
        "id": "dcda1d63.3b73f8",
        "type": "inject",
        "z": "d0107210.abc3f",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "b31a701e.576df"
            ]
        ]
    },
    {
        "id": "b31a701e.576df",
        "type": "change",
        "z": "d0107210.abc3f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "basePath",
                "pt": "global",
                "to": "/home/dnewman/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9e40afca.a949d",
        "type": "http request",
        "z": "d0107210.abc3f",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "localhost:5000/models/gmm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "15c4d51a.0b601b"
            ]
        ]
    },
    {
        "id": "a1b98fcc.a05a9",
        "type": "switch",
        "z": "d0107210.abc3f",
        "name": "",
        "property": "modelId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PCA-GMM",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CNN-AE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CNN-AE-Lite",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PCA-GNB",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MLP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CNN-MLP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CNN-MLP-Lite",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "9e40afca.a949d"
            ],
            [
                "2ac63787.5970b"
            ],
            [
                "2ac63787.5970b"
            ],
            [
                "ef9e0783.ae0f48"
            ],
            [
                "ee0d5685.f41aa"
            ],
            [
                "90152ab0.6161c8"
            ],
            [
                "90152ab0.6161c8"
            ],
            [
                "b45c8645.049018"
            ]
        ]
    },
    {
        "id": "14a16fc2.d8dd8",
        "type": "change",
        "z": "d0107210.abc3f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "modelId",
                "pt": "msg",
                "to": "payload.modelId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.basePath",
                "pt": "msg",
                "to": "basePath",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "basePath",
                "pt": "msg",
                "to": "payload.basePath",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dateTime-Sent",
                "pt": "msg",
                "to": "payload.dateTime-Sent",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "assetId",
                "pt": "msg",
                "to": "payload.assetId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "5284916.0cc4df"
            ]
        ]
    },
    {
        "id": "ebc5177c.f0a918",
        "type": "debug",
        "z": "d0107210.abc3f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "15c4d51a.0b601b",
        "type": "function",
        "z": "d0107210.abc3f",
        "name": "",
        "func": "var now = new Date();\n\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + msg[\"assetId\"] + \"/Inference\";\n\n\n// Build payload\npayload[\"dateTime-Sent\"] = msg[\"dateTime-Sent\"];\npayload[\"dateTime-Inference-Start\"] = msg[\"dateTime-Inference-Start\"];\npayload[\"dateTime-Inference-End\"] = now.getTime();\npayload[\"modelId\"] = msg[\"modelId\"];\npayload[\"values\"] = msg.payload[\"values\"];\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "ebc5177c.f0a918",
                "41a91418.7ab88c"
            ]
        ]
    },
    {
        "id": "5284916.0cc4df",
        "type": "function",
        "z": "d0107210.abc3f",
        "name": "",
        "func": "var now = new Date();\n\n\n// Build payload\nmsg[\"dateTime-Inference-Start\"] = now.getTime();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "a1b98fcc.a05a9"
            ]
        ]
    },
    {
        "id": "41a91418.7ab88c",
        "type": "mqtt out",
        "z": "d0107210.abc3f",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "9d1fb0c.003a1d",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "2ac63787.5970b",
        "type": "http request",
        "z": "d0107210.abc3f",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "localhost:5000/models/autoencoder/full",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "15c4d51a.0b601b"
            ]
        ]
    },
    {
        "id": "ef9e0783.ae0f48",
        "type": "http request",
        "z": "d0107210.abc3f",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "localhost:5000/models/autoencoder/lite",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "15c4d51a.0b601b"
            ]
        ]
    },
    {
        "id": "ee0d5685.f41aa",
        "type": "http request",
        "z": "d0107210.abc3f",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "localhost:5000/models/gnb",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "15c4d51a.0b601b"
            ]
        ]
    },
    {
        "id": "b45c8645.049018",
        "type": "http request",
        "z": "d0107210.abc3f",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "localhost:5000/models/mlp-classifier/lite",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "15c4d51a.0b601b"
            ]
        ]
    },
    {
        "id": "90152ab0.6161c8",
        "type": "http request",
        "z": "d0107210.abc3f",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "localhost:5000/models/mlp-classifier/full",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "15c4d51a.0b601b"
            ]
        ]
    },
    {
        "id": "9d1fb0c.003a1d",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "69.222.133.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]